<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>_279</key>
	<string>_279.glif</string>
	<key>_283</key>
	<string>_283.glif</string>
	<key>_303</key>
	<string>_303.glif</string>
	<key>_312</key>
	<string>_312.glif</string>
	<key>_317</key>
	<string>_317.glif</string>
	<key>_329</key>
	<string>_329.glif</string>
	<key>_334</key>
	<string>_334.glif</string>
	<key>_335</key>
	<string>_335.glif</string>
	<key>_366</key>
	<string>_366.glif</string>
	<key>_372</key>
	<string>_372.glif</string>
	<key>_373</key>
	<string>_373.glif</string>
	<key>_374</key>
	<string>_374.glif</string>
	<key>activity</key>
	<string>activity.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adjust</key>
	<string>adjust.glif</string>
	<key>adn</key>
	<string>adn.glif</string>
	<key>align_center</key>
	<string>align_center.glif</string>
	<key>align_justify</key>
	<string>align_justify.glif</string>
	<key>align_left</key>
	<string>align_left.glif</string>
	<key>align_right</key>
	<string>align_right.glif</string>
	<key>ambulance</key>
	<string>ambulance.glif</string>
	<key>anchor</key>
	<string>anchor.glif</string>
	<key>android</key>
	<string>android.glif</string>
	<key>angle_down</key>
	<string>angle_down.glif</string>
	<key>angle_left</key>
	<string>angle_left.glif</string>
	<key>angle_right</key>
	<string>angle_right.glif</string>
	<key>angle_up</key>
	<string>angle_up.glif</string>
	<key>apple</key>
	<string>apple.glif</string>
	<key>archive</key>
	<string>archive.glif</string>
	<key>arrow_down</key>
	<string>arrow_down.glif</string>
	<key>arrow_left</key>
	<string>arrow_left.glif</string>
	<key>arrow_right</key>
	<string>arrow_right.glif</string>
	<key>arrow_up</key>
	<string>arrow_up.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backward</key>
	<string>backward.glif</string>
	<key>badge</key>
	<string>badge.glif</string>
	<key>ban_circle</key>
	<string>ban_circle.glif</string>
	<key>bar_chart</key>
	<string>bar_chart.glif</string>
	<key>barcode</key>
	<string>barcode.glif</string>
	<key>beaker</key>
	<string>beaker.glif</string>
	<key>beer</key>
	<string>beer.glif</string>
	<key>bell</key>
	<string>bell.glif</string>
	<key>bell_alt</key>
	<string>bell_alt.glif</string>
	<key>bitbucket_sign</key>
	<string>bitbucket_sign.glif</string>
	<key>bold</key>
	<string>bold.glif</string>
	<key>bolt</key>
	<string>bolt.glif</string>
	<key>book</key>
	<string>book.glif</string>
	<key>bookmark</key>
	<string>bookmark.glif</string>
	<key>bookmark_empty</key>
	<string>bookmark_empty.glif</string>
	<key>briefcase</key>
	<string>briefcase.glif</string>
	<key>btc</key>
	<string>btc.glif</string>
	<key>bug</key>
	<string>bug.glif</string>
	<key>building</key>
	<string>building.glif</string>
	<key>bullhorn</key>
	<string>bullhorn.glif</string>
	<key>bullseye</key>
	<string>bullseye.glif</string>
	<key>calendar</key>
	<string>calendar.glif</string>
	<key>calendar_empty</key>
	<string>calendar_empty.glif</string>
	<key>camera</key>
	<string>camera.glif</string>
	<key>camera_retro</key>
	<string>camera_retro.glif</string>
	<key>caret_down</key>
	<string>caret_down.glif</string>
	<key>caret_left</key>
	<string>caret_left.glif</string>
	<key>caret_right</key>
	<string>caret_right.glif</string>
	<key>caret_up</key>
	<string>caret_up.glif</string>
	<key>certificate</key>
	<string>certificate.glif</string>
	<key>check</key>
	<string>check.glif</string>
	<key>check_empty</key>
	<string>check_empty.glif</string>
	<key>check_minus</key>
	<string>check_minus.glif</string>
	<key>check_sign</key>
	<string>check_sign.glif</string>
	<key>chevron_down</key>
	<string>chevron_down.glif</string>
	<key>chevron_left</key>
	<string>chevron_left.glif</string>
	<key>chevron_right</key>
	<string>chevron_right.glif</string>
	<key>chevron_sign_down</key>
	<string>chevron_sign_down.glif</string>
	<key>chevron_sign_left</key>
	<string>chevron_sign_left.glif</string>
	<key>chevron_sign_right</key>
	<string>chevron_sign_right.glif</string>
	<key>chevron_sign_up</key>
	<string>chevron_sign_up.glif</string>
	<key>chevron_up</key>
	<string>chevron_up.glif</string>
	<key>circle</key>
	<string>circle.glif</string>
	<key>circle_arrow_down</key>
	<string>circle_arrow_down.glif</string>
	<key>circle_arrow_left</key>
	<string>circle_arrow_left.glif</string>
	<key>circle_arrow_right</key>
	<string>circle_arrow_right.glif</string>
	<key>circle_arrow_up</key>
	<string>circle_arrow_up.glif</string>
	<key>circle_blank</key>
	<string>circle_blank.glif</string>
	<key>cloud</key>
	<string>cloud.glif</string>
	<key>cloud_download</key>
	<string>cloud_download.glif</string>
	<key>cloud_upload</key>
	<string>cloud_upload.glif</string>
	<key>cny</key>
	<string>cny.glif</string>
	<key>coach_rec</key>
	<string>coach_rec.glif</string>
	<key>coaches</key>
	<string>coaches.glif</string>
	<key>code</key>
	<string>code.glif</string>
	<key>code_fork</key>
	<string>code_fork.glif</string>
	<key>coffee</key>
	<string>coffee.glif</string>
	<key>cog</key>
	<string>cog.glif</string>
	<key>cogs</key>
	<string>cogs.glif</string>
	<key>collapse</key>
	<string>collapse.glif</string>
	<key>collapse_alt</key>
	<string>collapse_alt.glif</string>
	<key>collapse_top</key>
	<string>collapse_top.glif</string>
	<key>columns</key>
	<string>columns.glif</string>
	<key>comment</key>
	<string>comment.glif</string>
	<key>comment_alt</key>
	<string>comment_alt.glif</string>
	<key>comments</key>
	<string>comments.glif</string>
	<key>comments_alt</key>
	<string>comments_alt.glif</string>
	<key>compass</key>
	<string>compass.glif</string>
	<key>copy</key>
	<string>copy.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>credit_card</key>
	<string>credit_card.glif</string>
	<key>crop</key>
	<string>crop.glif</string>
	<key>css3</key>
	<string>css3.glif</string>
	<key>cut</key>
	<string>cut.glif</string>
	<key>dashboard</key>
	<string>dashboard.glif</string>
	<key>desktop</key>
	<string>desktop.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>double_angle_down</key>
	<string>double_angle_down.glif</string>
	<key>double_angle_left</key>
	<string>double_angle_left.glif</string>
	<key>double_angle_right</key>
	<string>double_angle_right.glif</string>
	<key>double_angle_up</key>
	<string>double_angle_up.glif</string>
	<key>download</key>
	<string>download.glif</string>
	<key>download_alt</key>
	<string>download_alt.glif</string>
	<key>dribble</key>
	<string>dribble.glif</string>
	<key>dropbox</key>
	<string>dropbox.glif</string>
	<key>edit</key>
	<string>edit.glif</string>
	<key>edit_sign</key>
	<string>edit_sign.glif</string>
	<key>eject</key>
	<string>eject.glif</string>
	<key>ellipsis_horizontal</key>
	<string>ellipsis_horizontal.glif</string>
	<key>ellipsis_vertical</key>
	<string>ellipsis_vertical.glif</string>
	<key>envelope</key>
	<string>envelope.glif</string>
	<key>envelope_alt</key>
	<string>envelope_alt.glif</string>
	<key>eur</key>
	<string>eur.glif</string>
	<key>exchange</key>
	<string>exchange.glif</string>
	<key>exclamation</key>
	<string>exclamation.glif</string>
	<key>exclamation_sign</key>
	<string>exclamation_sign.glif</string>
	<key>expand_alt</key>
	<string>expand_alt.glif</string>
	<key>external_link</key>
	<string>external_link.glif</string>
	<key>eye_close</key>
	<string>eye_close.glif</string>
	<key>eye_open</key>
	<string>eye_open.glif</string>
	<key>f0fe</key>
	<string>f0fe.glif</string>
	<key>f171</key>
	<string>f171.glif</string>
	<key>facebook</key>
	<string>facebook.glif</string>
	<key>facebook_sign</key>
	<string>facebook_sign.glif</string>
	<key>facetime_video</key>
	<string>facetime_video.glif</string>
	<key>fast_backward</key>
	<string>fast_backward.glif</string>
	<key>fast_forward</key>
	<string>fast_forward.glif</string>
	<key>female</key>
	<string>female.glif</string>
	<key>fighter_jet</key>
	<string>fighter_jet.glif</string>
	<key>file</key>
	<string>file.glif</string>
	<key>file_alt</key>
	<string>file_alt.glif</string>
	<key>file_text</key>
	<string>file_text.glif</string>
	<key>file_text_alt</key>
	<string>file_text_alt.glif</string>
	<key>film</key>
	<string>film.glif</string>
	<key>filter</key>
	<string>filter.glif</string>
	<key>fire</key>
	<string>fire.glif</string>
	<key>fire_extinguisher</key>
	<string>fire_extinguisher.glif</string>
	<key>flag</key>
	<string>flag.glif</string>
	<key>flag_alt</key>
	<string>flag_alt.glif</string>
	<key>flag_checkered</key>
	<string>flag_checkered.glif</string>
	<key>flickr</key>
	<string>flickr.glif</string>
	<key>focus</key>
	<string>focus.glif</string>
	<key>folder_close</key>
	<string>folder_close.glif</string>
	<key>folder_close_alt</key>
	<string>folder_close_alt.glif</string>
	<key>folder_open</key>
	<string>folder_open.glif</string>
	<key>folder_open_alt</key>
	<string>folder_open_alt.glif</string>
	<key>font</key>
	<string>font.glif</string>
	<key>food</key>
	<string>food.glif</string>
	<key>forward</key>
	<string>forward.glif</string>
	<key>foursquare</key>
	<string>foursquare.glif</string>
	<key>frown</key>
	<string>frown.glif</string>
	<key>fullscreen</key>
	<string>fullscreen.glif</string>
	<key>gamepad</key>
	<string>gamepad.glif</string>
	<key>gbp</key>
	<string>gbp.glif</string>
	<key>gift</key>
	<string>gift.glif</string>
	<key>github</key>
	<string>github.glif</string>
	<key>github_alt</key>
	<string>github_alt.glif</string>
	<key>github_sign</key>
	<string>github_sign.glif</string>
	<key>gittip</key>
	<string>gittip.glif</string>
	<key>glass</key>
	<string>glass.glif</string>
	<key>globe</key>
	<string>globe.glif</string>
	<key>goals</key>
	<string>goals.glif</string>
	<key>google</key>
	<string>google.glif</string>
	<key>google_plus</key>
	<string>google_plus.glif</string>
	<key>google_plus_sign</key>
	<string>google_plus_sign.glif</string>
	<key>group</key>
	<string>group.glif</string>
	<key>h_sign</key>
	<string>h_sign.glif</string>
	<key>hand_down</key>
	<string>hand_down.glif</string>
	<key>hand_left</key>
	<string>hand_left.glif</string>
	<key>hand_right</key>
	<string>hand_right.glif</string>
	<key>hand_up</key>
	<string>hand_up.glif</string>
	<key>hdd</key>
	<string>hdd.glif</string>
	<key>headphones</key>
	<string>headphones.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>heart_empty</key>
	<string>heart_empty.glif</string>
	<key>home</key>
	<string>home.glif</string>
	<key>hospital</key>
	<string>hospital.glif</string>
	<key>html5</key>
	<string>html5.glif</string>
	<key>inbox</key>
	<string>inbox.glif</string>
	<key>indent_left</key>
	<string>indent_left.glif</string>
	<key>indent_right</key>
	<string>indent_right.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>info_sign</key>
	<string>info_sign.glif</string>
	<key>inr</key>
	<string>inr.glif</string>
	<key>instagram</key>
	<string>instagram.glif</string>
	<key>italic</key>
	<string>italic.glif</string>
	<key>jpy</key>
	<string>jpy.glif</string>
	<key>key</key>
	<string>key.glif</string>
	<key>keyboard</key>
	<string>keyboard.glif</string>
	<key>krw</key>
	<string>krw.glif</string>
	<key>laptop</key>
	<string>laptop.glif</string>
	<key>leaf</key>
	<string>leaf.glif</string>
	<key>legal</key>
	<string>legal.glif</string>
	<key>lemon</key>
	<string>lemon.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>level_down</key>
	<string>level_down.glif</string>
	<key>level_up</key>
	<string>level_up.glif</string>
	<key>light_bulb</key>
	<string>light_bulb.glif</string>
	<key>link</key>
	<string>link.glif</string>
	<key>linkedin</key>
	<string>linkedin.glif</string>
	<key>linkedin_sign</key>
	<string>linkedin_sign.glif</string>
	<key>linux</key>
	<string>linux.glif</string>
	<key>list</key>
	<string>list.glif</string>
	<key>list_alt</key>
	<string>list_alt.glif</string>
	<key>location_arrow</key>
	<string>location_arrow.glif</string>
	<key>lock</key>
	<string>lock.glif</string>
	<key>long_arrow_down</key>
	<string>long_arrow_down.glif</string>
	<key>long_arrow_left</key>
	<string>long_arrow_left.glif</string>
	<key>long_arrow_right</key>
	<string>long_arrow_right.glif</string>
	<key>long_arrow_up</key>
	<string>long_arrow_up.glif</string>
	<key>magic</key>
	<string>magic.glif</string>
	<key>magnet</key>
	<string>magnet.glif</string>
	<key>male</key>
	<string>male.glif</string>
	<key>map_marker</key>
	<string>map_marker.glif</string>
	<key>maxcdn</key>
	<string>maxcdn.glif</string>
	<key>medkit</key>
	<string>medkit.glif</string>
	<key>meh</key>
	<string>meh.glif</string>
	<key>microphone</key>
	<string>microphone.glif</string>
	<key>microphone_off</key>
	<string>microphone_off.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minus_sign</key>
	<string>minus_sign.glif</string>
	<key>minus_sign_alt</key>
	<string>minus_sign_alt.glif</string>
	<key>mobile_phone</key>
	<string>mobile_phone.glif</string>
	<key>money</key>
	<string>money.glif</string>
	<key>move</key>
	<string>move.glif</string>
	<key>music</key>
	<string>music.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>off</key>
	<string>off.glif</string>
	<key>ok</key>
	<string>ok.glif</string>
	<key>ok_circle</key>
	<string>ok_circle.glif</string>
	<key>ok_dotted</key>
	<string>ok_dotted.glif</string>
	<key>ok_sign</key>
	<string>ok_sign.glif</string>
	<key>ol</key>
	<string>ol.glif</string>
	<key>paper_clip</key>
	<string>paper_clip.glif</string>
	<key>paste</key>
	<string>paste.glif</string>
	<key>pause</key>
	<string>pause.glif</string>
	<key>pencil</key>
	<string>pencil.glif</string>
	<key>phone</key>
	<string>phone.glif</string>
	<key>phone_sign</key>
	<string>phone_sign.glif</string>
	<key>picture</key>
	<string>picture.glif</string>
	<key>pinterest</key>
	<string>pinterest.glif</string>
	<key>pinterest_sign</key>
	<string>pinterest_sign.glif</string>
	<key>plane</key>
	<string>plane.glif</string>
	<key>play</key>
	<string>play.glif</string>
	<key>play_circle</key>
	<string>play_circle.glif</string>
	<key>play_sign</key>
	<string>play_sign.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus_sign</key>
	<string>plus_sign.glif</string>
	<key>print</key>
	<string>print.glif</string>
	<key>progress</key>
	<string>progress.glif</string>
	<key>pushpin</key>
	<string>pushpin.glif</string>
	<key>puzzle_piece</key>
	<string>puzzle_piece.glif</string>
	<key>qrcode</key>
	<string>qrcode.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question_sign</key>
	<string>question_sign.glif</string>
	<key>quote_left</key>
	<string>quote_left.glif</string>
	<key>quote_right</key>
	<string>quote_right.glif</string>
	<key>random</key>
	<string>random.glif</string>
	<key>refresh</key>
	<string>refresh.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>remove</key>
	<string>remove.glif</string>
	<key>remove_circle</key>
	<string>remove_circle.glif</string>
	<key>remove_sign</key>
	<string>remove_sign.glif</string>
	<key>renren</key>
	<string>renren.glif</string>
	<key>reorder</key>
	<string>reorder.glif</string>
	<key>repeat</key>
	<string>repeat.glif</string>
	<key>reply</key>
	<string>reply.glif</string>
	<key>reply_all</key>
	<string>reply_all.glif</string>
	<key>resize_full</key>
	<string>resize_full.glif</string>
	<key>resize_horizontal</key>
	<string>resize_horizontal.glif</string>
	<key>resize_small</key>
	<string>resize_small.glif</string>
	<key>resize_vertical</key>
	<string>resize_vertical.glif</string>
	<key>retweet</key>
	<string>retweet.glif</string>
	<key>road</key>
	<string>road.glif</string>
	<key>rocket</key>
	<string>rocket.glif</string>
	<key>rss</key>
	<string>rss.glif</string>
	<key>save</key>
	<string>save.glif</string>
	<key>scratchpad</key>
	<string>scratchpad.glif</string>
	<key>screenshot</key>
	<string>screenshot.glif</string>
	<key>search</key>
	<string>search.glif</string>
	<key>share</key>
	<string>share.glif</string>
	<key>share_alt</key>
	<string>share_alt.glif</string>
	<key>share_sign</key>
	<string>share_sign.glif</string>
	<key>shield</key>
	<string>shield.glif</string>
	<key>shopping_cart</key>
	<string>shopping_cart.glif</string>
	<key>sign_blank</key>
	<string>sign_blank.glif</string>
	<key>signal</key>
	<string>signal.glif</string>
	<key>signin</key>
	<string>signin.glif</string>
	<key>signout</key>
	<string>signout.glif</string>
	<key>sitemap</key>
	<string>sitemap.glif</string>
	<key>skype</key>
	<string>skype.glif</string>
	<key>smile</key>
	<string>smile.glif</string>
	<key>sort</key>
	<string>sort.glif</string>
	<key>sort_by_alphabet</key>
	<string>sort_by_alphabet.glif</string>
	<key>sort_by_attributes</key>
	<string>sort_by_attributes.glif</string>
	<key>sort_by_attributes_alt</key>
	<string>sort_by_attributes_alt.glif</string>
	<key>sort_by_order</key>
	<string>sort_by_order.glif</string>
	<key>sort_by_order_alt</key>
	<string>sort_by_order_alt.glif</string>
	<key>sort_down</key>
	<string>sort_down.glif</string>
	<key>sort_up</key>
	<string>sort_up.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>spinner</key>
	<string>spinner.glif</string>
	<key>stackexchange</key>
	<string>stackexchange.glif</string>
	<key>star</key>
	<string>star.glif</string>
	<key>star_empty</key>
	<string>star_empty.glif</string>
	<key>star_half</key>
	<string>star_half.glif</string>
	<key>star_half_empty</key>
	<string>star_half_empty.glif</string>
	<key>step_backward</key>
	<string>step_backward.glif</string>
	<key>step_forward</key>
	<string>step_forward.glif</string>
	<key>stethoscope</key>
	<string>stethoscope.glif</string>
	<key>stop</key>
	<string>stop.glif</string>
	<key>strikethrough</key>
	<string>strikethrough.glif</string>
	<key>subscript</key>
	<string>subscript.glif</string>
	<key>suitcase</key>
	<string>suitcase.glif</string>
	<key>sun</key>
	<string>sun.glif</string>
	<key>superscript</key>
	<string>superscript.glif</string>
	<key>table</key>
	<string>table.glif</string>
	<key>tablet</key>
	<string>tablet.glif</string>
	<key>tag</key>
	<string>tag.glif</string>
	<key>tags</key>
	<string>tags.glif</string>
	<key>tasks</key>
	<string>tasks.glif</string>
	<key>terminal</key>
	<string>terminal.glif</string>
	<key>text_height</key>
	<string>text_height.glif</string>
	<key>text_width</key>
	<string>text_width.glif</string>
	<key>th</key>
	<string>th.glif</string>
	<key>th_large</key>
	<string>th_large.glif</string>
	<key>th_list</key>
	<string>th_list.glif</string>
	<key>thumbs_down_alt</key>
	<string>thumbs_down_alt.glif</string>
	<key>thumbs_up_alt</key>
	<string>thumbs_up_alt.glif</string>
	<key>ticket</key>
	<string>ticket.glif</string>
	<key>time</key>
	<string>time.glif</string>
	<key>tint</key>
	<string>tint.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>trash</key>
	<string>trash.glif</string>
	<key>trello</key>
	<string>trello.glif</string>
	<key>trophy</key>
	<string>trophy.glif</string>
	<key>truck</key>
	<string>truck.glif</string>
	<key>tumblr</key>
	<string>tumblr.glif</string>
	<key>tumblr_sign</key>
	<string>tumblr_sign.glif</string>
	<key>twitter</key>
	<string>twitter.glif</string>
	<key>twitter_sign</key>
	<string>twitter_sign.glif</string>
	<key>ul</key>
	<string>ul.glif</string>
	<key>umbrella</key>
	<string>umbrella.glif</string>
	<key>underline</key>
	<string>underline.glif</string>
	<key>undo</key>
	<string>undo.glif</string>
	<key>unlink</key>
	<string>unlink.glif</string>
	<key>unlock</key>
	<string>unlock.glif</string>
	<key>unlock_alt</key>
	<string>unlock_alt.glif</string>
	<key>upload</key>
	<string>upload.glif</string>
	<key>upload_alt</key>
	<string>upload_alt.glif</string>
	<key>usd</key>
	<string>usd.glif</string>
	<key>user</key>
	<string>user.glif</string>
	<key>user_md</key>
	<string>user_md.glif</string>
	<key>vk</key>
	<string>vk.glif</string>
	<key>volume_down</key>
	<string>volume_down.glif</string>
	<key>volume_off</key>
	<string>volume_off.glif</string>
	<key>volume_up</key>
	<string>volume_up.glif</string>
	<key>warning_sign</key>
	<string>warning_sign.glif</string>
	<key>weibo</key>
	<string>weibo.glif</string>
	<key>windows</key>
	<string>windows.glif</string>
	<key>wrench</key>
	<string>wrench.glif</string>
	<key>xing</key>
	<string>xing.glif</string>
	<key>xing_sign</key>
	<string>xing_sign.glif</string>
	<key>youtube</key>
	<string>youtube.glif</string>
	<key>youtube_play</key>
	<string>youtube_play.glif</string>
	<key>youtube_sign</key>
	<string>youtube_sign.glif</string>
	<key>zoom_in</key>
	<string>zoom_in.glif</string>
	<key>zoom_out</key>
	<string>zoom_out.glif</string>
</dict>
</plist>
