<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1536</integer>
	<key>capHeight</key>
	<integer>1792</integer>
	<key>copyright</key>
	<string>SIL Open Font License 1.1</string>
	<key>descender</key>
	<integer>-256</integer>
	<key>familyName</key>
	<string>FontAwesome</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>FontAwesome</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>1536</integer>
	<key>openTypeHheaDescender</key>
	<integer>-256</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>A fork of Dave Gandy's FontAwesome project (http://fontawesome.io/) for use on http://www.khanacademy.org/</string>
	<key>openTypeNameDesigner</key>
	<string>Dave Gandy</string>
	<key>openTypeNameManufacturer</key>
	<string>Fort Awesome</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://fontawesome.io</string>
	<key>openTypeNameUniqueID</key>
	<string>Khan: FontAwesome: 2013</string>
	<key>openTypeNameVersion</key>
	<string>Version 3.5.3 2013</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>1075</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>90</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1164</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>134</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1075</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1164</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>627</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1075</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1536</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-256</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>90</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>KHAN</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1408</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>399</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-27</integer>
		<integer>0</integer>
		<integer>1344</integer>
		<integer>1371</integer>
	</array>
	<key>postscriptDefaultCharacter</key>
	<string>space</string>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>FontAwesome</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>FontAwesome</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>128</integer>
		<integer>256</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>128</integer>
		<integer>256</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-179</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>90</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>FontAwesome</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Please refer to the Copyright section for the font trademark attribution notices.</string>
	<key>unitsPerEm</key>
	<integer>1792</integer>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>2</integer>
	<key>xHeight</key>
	<integer>1792</integer>
	<key>year</key>
	<integer>2012</integer>
</dict>
</plist>
