<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/marcos/projects/etc/type/Font-Awesome/font/FontAwesome.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>question</string>
				<string>acute</string>
				<string>dieresis</string>
				<string>AE</string>
				<string>trademark</string>
				<string>registered</string>
				<string>minus</string>
				<string>copyright</string>
				<string>glass</string>
				<string>music</string>
				<string>search</string>
				<string>envelope</string>
				<string>heart</string>
				<string>star</string>
				<string>star_empty</string>
				<string>user</string>
				<string>film</string>
				<string>th_large</string>
				<string>th</string>
				<string>th_list</string>
				<string>ok</string>
				<string>remove</string>
				<string>zoom_in</string>
				<string>zoom_out</string>
				<string>off</string>
				<string>signal</string>
				<string>cog</string>
				<string>trash</string>
				<string>home</string>
				<string>file_alt</string>
				<string>time</string>
				<string>road</string>
				<string>download_alt</string>
				<string>download</string>
				<string>upload</string>
				<string>inbox</string>
				<string>play_circle</string>
				<string>repeat</string>
				<string>refresh</string>
				<string>list_alt</string>
				<string>lock</string>
				<string>flag</string>
				<string>headphones</string>
				<string>volume_off</string>
				<string>volume_down</string>
				<string>volume_up</string>
				<string>qrcode</string>
				<string>barcode</string>
				<string>tag</string>
				<string>tags</string>
				<string>book</string>
				<string>bookmark</string>
				<string>print</string>
				<string>camera</string>
				<string>font</string>
				<string>bold</string>
				<string>italic</string>
				<string>text_height</string>
				<string>text_width</string>
				<string>align_left</string>
				<string>align_center</string>
				<string>align_right</string>
				<string>align_justify</string>
				<string>list</string>
				<string>indent_left</string>
				<string>indent_right</string>
				<string>facetime_video</string>
				<string>picture</string>
				<string>pencil</string>
				<string>map_marker</string>
				<string>adjust</string>
				<string>tint</string>
				<string>edit</string>
				<string>share</string>
				<string>check</string>
				<string>move</string>
				<string>step_backward</string>
				<string>fast_backward</string>
				<string>backward</string>
				<string>play</string>
				<string>pause</string>
				<string>stop</string>
				<string>forward</string>
				<string>fast_forward</string>
				<string>step_forward</string>
				<string>eject</string>
				<string>chevron_left</string>
				<string>chevron_right</string>
				<string>plus_sign</string>
				<string>minus_sign</string>
				<string>remove_sign</string>
				<string>ok_sign</string>
				<string>question_sign</string>
				<string>info_sign</string>
				<string>screenshot</string>
				<string>remove_circle</string>
				<string>ok_circle</string>
				<string>ban_circle</string>
				<string>arrow_left</string>
				<string>arrow_right</string>
				<string>arrow_up</string>
				<string>arrow_down</string>
				<string>share_alt</string>
				<string>resize_full</string>
				<string>resize_small</string>
				<string>exclamation_sign</string>
				<string>gift</string>
				<string>leaf</string>
				<string>fire</string>
				<string>eye_open</string>
				<string>eye_close</string>
				<string>warning_sign</string>
				<string>plane</string>
				<string>calendar</string>
				<string>random</string>
				<string>comment</string>
				<string>magnet</string>
				<string>chevron_up</string>
				<string>chevron_down</string>
				<string>retweet</string>
				<string>shopping_cart</string>
				<string>folder_close</string>
				<string>folder_open</string>
				<string>resize_vertical</string>
				<string>resize_horizontal</string>
				<string>bar_chart</string>
				<string>twitter_sign</string>
				<string>facebook_sign</string>
				<string>camera_retro</string>
				<string>key</string>
				<string>cogs</string>
				<string>comments</string>
				<string>thumbs_up_alt</string>
				<string>thumbs_down_alt</string>
				<string>star_half</string>
				<string>heart_empty</string>
				<string>signout</string>
				<string>linkedin_sign</string>
				<string>pushpin</string>
				<string>external_link</string>
				<string>signin</string>
				<string>trophy</string>
				<string>github_sign</string>
				<string>upload_alt</string>
				<string>lemon</string>
				<string>phone</string>
				<string>check_empty</string>
				<string>bookmark_empty</string>
				<string>phone_sign</string>
				<string>twitter</string>
				<string>facebook</string>
				<string>github</string>
				<string>unlock</string>
				<string>credit_card</string>
				<string>rss</string>
				<string>hdd</string>
				<string>bullhorn</string>
				<string>bell</string>
				<string>certificate</string>
				<string>hand_right</string>
				<string>hand_left</string>
				<string>hand_up</string>
				<string>hand_down</string>
				<string>circle_arrow_left</string>
				<string>circle_arrow_right</string>
				<string>circle_arrow_up</string>
				<string>circle_arrow_down</string>
				<string>globe</string>
				<string>wrench</string>
				<string>tasks</string>
				<string>filter</string>
				<string>briefcase</string>
				<string>fullscreen</string>
				<string>notequal</string>
				<string>infinity</string>
				<string>lessequal</string>
				<string>group</string>
				<string>link</string>
				<string>cloud</string>
				<string>beaker</string>
				<string>cut</string>
				<string>copy</string>
				<string>paper_clip</string>
				<string>save</string>
				<string>sign_blank</string>
				<string>reorder</string>
				<string>ul</string>
				<string>ol</string>
				<string>strikethrough</string>
				<string>underline</string>
				<string>table</string>
				<string>magic</string>
				<string>truck</string>
				<string>pinterest</string>
				<string>pinterest_sign</string>
				<string>google_plus_sign</string>
				<string>google_plus</string>
				<string>money</string>
				<string>caret_down</string>
				<string>caret_up</string>
				<string>caret_left</string>
				<string>caret_right</string>
				<string>columns</string>
				<string>sort</string>
				<string>sort_down</string>
				<string>sort_up</string>
				<string>envelope_alt</string>
				<string>linkedin</string>
				<string>undo</string>
				<string>legal</string>
				<string>dashboard</string>
				<string>comment_alt</string>
				<string>comments_alt</string>
				<string>bolt</string>
				<string>sitemap</string>
				<string>umbrella</string>
				<string>paste</string>
				<string>light_bulb</string>
				<string>exchange</string>
				<string>cloud_download</string>
				<string>cloud_upload</string>
				<string>user_md</string>
				<string>stethoscope</string>
				<string>suitcase</string>
				<string>bell_alt</string>
				<string>coffee</string>
				<string>food</string>
				<string>file_text_alt</string>
				<string>building</string>
				<string>hospital</string>
				<string>ambulance</string>
				<string>medkit</string>
				<string>fighter_jet</string>
				<string>beer</string>
				<string>h_sign</string>
				<string>f0fe</string>
				<string>double_angle_left</string>
				<string>double_angle_right</string>
				<string>double_angle_up</string>
				<string>double_angle_down</string>
				<string>angle_left</string>
				<string>angle_right</string>
				<string>angle_up</string>
				<string>angle_down</string>
				<string>desktop</string>
				<string>laptop</string>
				<string>tablet</string>
				<string>mobile_phone</string>
				<string>circle_blank</string>
				<string>quote_left</string>
				<string>quote_right</string>
				<string>spinner</string>
				<string>circle</string>
				<string>reply</string>
				<string>github_alt</string>
				<string>folder_close_alt</string>
				<string>folder_open_alt</string>
				<string>expand_alt</string>
				<string>collapse_alt</string>
				<string>smile</string>
				<string>frown</string>
				<string>meh</string>
				<string>gamepad</string>
				<string>keyboard</string>
				<string>flag_alt</string>
				<string>flag_checkered</string>
				<string>terminal</string>
				<string>code</string>
				<string>reply_all</string>
				<string>star_half_empty</string>
				<string>location_arrow</string>
				<string>crop</string>
				<string>code_fork</string>
				<string>unlink</string>
				<string>_279</string>
				<string>exclamation</string>
				<string>superscript</string>
				<string>subscript</string>
				<string>_283</string>
				<string>puzzle_piece</string>
				<string>microphone</string>
				<string>microphone_off</string>
				<string>shield</string>
				<string>calendar_empty</string>
				<string>fire_extinguisher</string>
				<string>rocket</string>
				<string>maxcdn</string>
				<string>chevron_sign_left</string>
				<string>chevron_sign_right</string>
				<string>chevron_sign_up</string>
				<string>chevron_sign_down</string>
				<string>html5</string>
				<string>css3</string>
				<string>anchor</string>
				<string>unlock_alt</string>
				<string>bullseye</string>
				<string>ellipsis_horizontal</string>
				<string>ellipsis_vertical</string>
				<string>_303</string>
				<string>play_sign</string>
				<string>ticket</string>
				<string>minus_sign_alt</string>
				<string>check_minus</string>
				<string>level_up</string>
				<string>level_down</string>
				<string>check_sign</string>
				<string>edit_sign</string>
				<string>_312</string>
				<string>share_sign</string>
				<string>compass</string>
				<string>collapse</string>
				<string>collapse_top</string>
				<string>_317</string>
				<string>eur</string>
				<string>gbp</string>
				<string>usd</string>
				<string>inr</string>
				<string>jpy</string>
				<string>cny</string>
				<string>krw</string>
				<string>btc</string>
				<string>file</string>
				<string>file_text</string>
				<string>sort_by_alphabet</string>
				<string>_329</string>
				<string>sort_by_attributes</string>
				<string>sort_by_attributes_alt</string>
				<string>sort_by_order</string>
				<string>sort_by_order_alt</string>
				<string>_334</string>
				<string>_335</string>
				<string>youtube_sign</string>
				<string>youtube</string>
				<string>xing</string>
				<string>xing_sign</string>
				<string>youtube_play</string>
				<string>dropbox</string>
				<string>stackexchange</string>
				<string>instagram</string>
				<string>flickr</string>
				<string>adn</string>
				<string>f171</string>
				<string>bitbucket_sign</string>
				<string>tumblr</string>
				<string>tumblr_sign</string>
				<string>long_arrow_down</string>
				<string>long_arrow_up</string>
				<string>long_arrow_left</string>
				<string>long_arrow_right</string>
				<string>apple</string>
				<string>windows</string>
				<string>android</string>
				<string>linux</string>
				<string>dribble</string>
				<string>skype</string>
				<string>foursquare</string>
				<string>trello</string>
				<string>female</string>
				<string>male</string>
				<string>gittip</string>
				<string>sun</string>
				<string>_366</string>
				<string>archive</string>
				<string>bug</string>
				<string>vk</string>
				<string>weibo</string>
				<string>renren</string>
				<string>_372</string>
				<string>_373</string>
				<string>_374</string>
				<string>ok_dotted</string>
				<string>coach_rec</string>
				<string>badge</string>
				<string>activity</string>
				<string>focus</string>
				<string>goals</string>
				<string>progress</string>
				<string>scratchpad</string>
				<string>coaches</string>
				<string>google</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>question</string>
		<string>acute</string>
		<string>dieresis</string>
		<string>AE</string>
		<string>trademark</string>
		<string>registered</string>
		<string>minus</string>
		<string>copyright</string>
		<string>glass</string>
		<string>music</string>
		<string>search</string>
		<string>envelope</string>
		<string>heart</string>
		<string>star</string>
		<string>star_empty</string>
		<string>user</string>
		<string>film</string>
		<string>th_large</string>
		<string>th</string>
		<string>th_list</string>
		<string>ok</string>
		<string>remove</string>
		<string>zoom_in</string>
		<string>zoom_out</string>
		<string>off</string>
		<string>signal</string>
		<string>cog</string>
		<string>trash</string>
		<string>home</string>
		<string>file_alt</string>
		<string>time</string>
		<string>road</string>
		<string>download_alt</string>
		<string>download</string>
		<string>upload</string>
		<string>inbox</string>
		<string>play_circle</string>
		<string>repeat</string>
		<string>refresh</string>
		<string>list_alt</string>
		<string>lock</string>
		<string>flag</string>
		<string>headphones</string>
		<string>volume_off</string>
		<string>volume_down</string>
		<string>volume_up</string>
		<string>qrcode</string>
		<string>barcode</string>
		<string>tag</string>
		<string>tags</string>
		<string>book</string>
		<string>bookmark</string>
		<string>print</string>
		<string>camera</string>
		<string>font</string>
		<string>bold</string>
		<string>italic</string>
		<string>text_height</string>
		<string>text_width</string>
		<string>align_left</string>
		<string>align_center</string>
		<string>align_right</string>
		<string>align_justify</string>
		<string>list</string>
		<string>indent_left</string>
		<string>indent_right</string>
		<string>facetime_video</string>
		<string>picture</string>
		<string>pencil</string>
		<string>map_marker</string>
		<string>adjust</string>
		<string>tint</string>
		<string>edit</string>
		<string>share</string>
		<string>check</string>
		<string>move</string>
		<string>step_backward</string>
		<string>fast_backward</string>
		<string>backward</string>
		<string>play</string>
		<string>pause</string>
		<string>stop</string>
		<string>forward</string>
		<string>fast_forward</string>
		<string>step_forward</string>
		<string>eject</string>
		<string>chevron_left</string>
		<string>chevron_right</string>
		<string>plus_sign</string>
		<string>minus_sign</string>
		<string>remove_sign</string>
		<string>ok_sign</string>
		<string>question_sign</string>
		<string>info_sign</string>
		<string>screenshot</string>
		<string>remove_circle</string>
		<string>ok_circle</string>
		<string>ban_circle</string>
		<string>arrow_left</string>
		<string>arrow_right</string>
		<string>arrow_up</string>
		<string>arrow_down</string>
		<string>share_alt</string>
		<string>resize_full</string>
		<string>resize_small</string>
		<string>exclamation_sign</string>
		<string>gift</string>
		<string>leaf</string>
		<string>fire</string>
		<string>eye_open</string>
		<string>eye_close</string>
		<string>warning_sign</string>
		<string>plane</string>
		<string>calendar</string>
		<string>random</string>
		<string>comment</string>
		<string>magnet</string>
		<string>chevron_up</string>
		<string>chevron_down</string>
		<string>retweet</string>
		<string>shopping_cart</string>
		<string>folder_close</string>
		<string>folder_open</string>
		<string>resize_vertical</string>
		<string>resize_horizontal</string>
		<string>bar_chart</string>
		<string>twitter_sign</string>
		<string>facebook_sign</string>
		<string>camera_retro</string>
		<string>key</string>
		<string>cogs</string>
		<string>comments</string>
		<string>thumbs_up_alt</string>
		<string>thumbs_down_alt</string>
		<string>star_half</string>
		<string>heart_empty</string>
		<string>signout</string>
		<string>linkedin_sign</string>
		<string>pushpin</string>
		<string>external_link</string>
		<string>signin</string>
		<string>trophy</string>
		<string>github_sign</string>
		<string>upload_alt</string>
		<string>lemon</string>
		<string>phone</string>
		<string>check_empty</string>
		<string>bookmark_empty</string>
		<string>phone_sign</string>
		<string>twitter</string>
		<string>facebook</string>
		<string>github</string>
		<string>unlock</string>
		<string>credit_card</string>
		<string>rss</string>
		<string>hdd</string>
		<string>bullhorn</string>
		<string>bell</string>
		<string>certificate</string>
		<string>hand_right</string>
		<string>hand_left</string>
		<string>hand_up</string>
		<string>hand_down</string>
		<string>circle_arrow_left</string>
		<string>circle_arrow_right</string>
		<string>circle_arrow_up</string>
		<string>circle_arrow_down</string>
		<string>globe</string>
		<string>wrench</string>
		<string>tasks</string>
		<string>filter</string>
		<string>briefcase</string>
		<string>fullscreen</string>
		<string>notequal</string>
		<string>infinity</string>
		<string>lessequal</string>
		<string>group</string>
		<string>link</string>
		<string>cloud</string>
		<string>beaker</string>
		<string>cut</string>
		<string>copy</string>
		<string>paper_clip</string>
		<string>save</string>
		<string>sign_blank</string>
		<string>reorder</string>
		<string>ul</string>
		<string>ol</string>
		<string>strikethrough</string>
		<string>underline</string>
		<string>table</string>
		<string>magic</string>
		<string>truck</string>
		<string>pinterest</string>
		<string>pinterest_sign</string>
		<string>google_plus_sign</string>
		<string>google_plus</string>
		<string>money</string>
		<string>caret_down</string>
		<string>caret_up</string>
		<string>caret_left</string>
		<string>caret_right</string>
		<string>columns</string>
		<string>sort</string>
		<string>sort_down</string>
		<string>sort_up</string>
		<string>envelope_alt</string>
		<string>linkedin</string>
		<string>undo</string>
		<string>legal</string>
		<string>dashboard</string>
		<string>comment_alt</string>
		<string>comments_alt</string>
		<string>bolt</string>
		<string>sitemap</string>
		<string>umbrella</string>
		<string>paste</string>
		<string>light_bulb</string>
		<string>exchange</string>
		<string>cloud_download</string>
		<string>cloud_upload</string>
		<string>user_md</string>
		<string>stethoscope</string>
		<string>suitcase</string>
		<string>bell_alt</string>
		<string>coffee</string>
		<string>food</string>
		<string>file_text_alt</string>
		<string>building</string>
		<string>hospital</string>
		<string>ambulance</string>
		<string>medkit</string>
		<string>fighter_jet</string>
		<string>beer</string>
		<string>h_sign</string>
		<string>f0fe</string>
		<string>double_angle_left</string>
		<string>double_angle_right</string>
		<string>double_angle_up</string>
		<string>double_angle_down</string>
		<string>angle_left</string>
		<string>angle_right</string>
		<string>angle_up</string>
		<string>angle_down</string>
		<string>desktop</string>
		<string>laptop</string>
		<string>tablet</string>
		<string>mobile_phone</string>
		<string>circle_blank</string>
		<string>quote_left</string>
		<string>quote_right</string>
		<string>spinner</string>
		<string>circle</string>
		<string>reply</string>
		<string>github_alt</string>
		<string>folder_close_alt</string>
		<string>folder_open_alt</string>
		<string>expand_alt</string>
		<string>collapse_alt</string>
		<string>smile</string>
		<string>frown</string>
		<string>meh</string>
		<string>gamepad</string>
		<string>keyboard</string>
		<string>flag_alt</string>
		<string>flag_checkered</string>
		<string>terminal</string>
		<string>code</string>
		<string>reply_all</string>
		<string>star_half_empty</string>
		<string>location_arrow</string>
		<string>crop</string>
		<string>code_fork</string>
		<string>unlink</string>
		<string>_279</string>
		<string>exclamation</string>
		<string>superscript</string>
		<string>subscript</string>
		<string>_283</string>
		<string>puzzle_piece</string>
		<string>microphone</string>
		<string>microphone_off</string>
		<string>shield</string>
		<string>calendar_empty</string>
		<string>fire_extinguisher</string>
		<string>rocket</string>
		<string>maxcdn</string>
		<string>chevron_sign_left</string>
		<string>chevron_sign_right</string>
		<string>chevron_sign_up</string>
		<string>chevron_sign_down</string>
		<string>html5</string>
		<string>css3</string>
		<string>anchor</string>
		<string>unlock_alt</string>
		<string>bullseye</string>
		<string>ellipsis_horizontal</string>
		<string>ellipsis_vertical</string>
		<string>_303</string>
		<string>play_sign</string>
		<string>ticket</string>
		<string>minus_sign_alt</string>
		<string>check_minus</string>
		<string>level_up</string>
		<string>level_down</string>
		<string>check_sign</string>
		<string>edit_sign</string>
		<string>_312</string>
		<string>share_sign</string>
		<string>compass</string>
		<string>collapse</string>
		<string>collapse_top</string>
		<string>_317</string>
		<string>eur</string>
		<string>gbp</string>
		<string>usd</string>
		<string>inr</string>
		<string>jpy</string>
		<string>cny</string>
		<string>krw</string>
		<string>btc</string>
		<string>file</string>
		<string>file_text</string>
		<string>sort_by_alphabet</string>
		<string>_329</string>
		<string>sort_by_attributes</string>
		<string>sort_by_attributes_alt</string>
		<string>sort_by_order</string>
		<string>sort_by_order_alt</string>
		<string>_334</string>
		<string>_335</string>
		<string>youtube_sign</string>
		<string>youtube</string>
		<string>xing</string>
		<string>xing_sign</string>
		<string>youtube_play</string>
		<string>dropbox</string>
		<string>stackexchange</string>
		<string>instagram</string>
		<string>flickr</string>
		<string>adn</string>
		<string>f171</string>
		<string>bitbucket_sign</string>
		<string>tumblr</string>
		<string>tumblr_sign</string>
		<string>long_arrow_down</string>
		<string>long_arrow_up</string>
		<string>long_arrow_left</string>
		<string>long_arrow_right</string>
		<string>apple</string>
		<string>windows</string>
		<string>android</string>
		<string>linux</string>
		<string>dribble</string>
		<string>skype</string>
		<string>foursquare</string>
		<string>trello</string>
		<string>female</string>
		<string>male</string>
		<string>gittip</string>
		<string>sun</string>
		<string>_366</string>
		<string>archive</string>
		<string>bug</string>
		<string>vk</string>
		<string>weibo</string>
		<string>renren</string>
		<string>_372</string>
		<string>_373</string>
		<string>_374</string>
		<string>ok_dotted</string>
		<string>coach_rec</string>
		<string>badge</string>
		<string>activity</string>
		<string>focus</string>
		<string>goals</string>
		<string>progress</string>
		<string>scratchpad</string>
		<string>coaches</string>
		<string>google</string>
	</array>
</dict>
</plist>
